body {
    background-color: inherit;
    background-repeat:no-repeat;
    background-position:top left;
    background-attachment:fixed;
    font-family: 'Amiko';
    font-weight: 300;
}
.header {
    padding: 1  0px 16px;
    background: #0175c5;
    color: #f1f1f1;
    position: fixed;
    width: 100%;
    top: 0;
    font-family: 'Poppins';font-size: 20px;
    
}
h2{
    color:teal;
    text-align: center;
    font-family: sans-serif;
}
.headsec {
    background-repeat: no-repeat;
    background-image: url(https://cdn.wallpapersafari.com/33/53/eOStfM.jpg);
    bottom: 0;
    
}

.headsec h1{
    text-align: center;
    padding: 380px;
    margin-top: 0px;color: white;
    font-size: 90px;
}
.biography{
    background-color:#24292e;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 20px;
}
#pimage{
    height: 300px;

}
.alex{
    float: left;
    width: 40%;
}
.andrew{
    float: right;
    width: 40%;
}
.column {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    top: 0;
  }
  .row {
    display: flex;
    
  }
  
  .column {
    flex: 50%;
  }
  #andrew h1{
      text-align: center;
  }
  #alexander {
      text-align: center;
  }
  #mage{
    border-radius: 50%;
    height: 300px;
  }
  .biography{

  }
  .cta{
      padding: 50px;
      background-color: thistle;
      align-items: center;
  }
  .cta button{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px; 
    align-items: right;    
  }
  .cta h1{
      text-align: center;
  }
  .work{
      padding-bottom: 20px;
  }
  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }